//colors
$nav-button-color: #00838F;

$white: #fff;
$black: #000;
$color_log_cabin_approx: #222;
$color_celeste_approx: #ccc;
$color_alto_approx: #ddd;
$color_mine_shaft_approx: #333;
$color_mako_approx: #444b52;
$color_nevada_approx: #646a70;
$color_santas_gray_approx: #9ea6ad;
$color_star_dust_approx: #9f9f9f;
$color_regent_gray_approx: #818e99;
$color_geyser_approx: #dbdfe3;

//$color_atlantis_approx: #8dc63f;
$color_atlantis_approx: #CB2C30;
$color_olive_drab_approx: #628a2b;
$color_blue_whale_approx: #00264b;
$color_green_vogue_approx: #00264c;
$color_curious_blue_approx: #2aa1c0;
$color_gallery_approx: #eee;
$color_tapa_approx: #737373;
$color_mystic_approx: #e5edf0;
$color_mercury_approx: #e6e6e6;
$color_atoll_approx: #0e647d;
$color_concord_approx: #7b7b7b;
$color_bahama_blue_approx: #086296;
$color_star_dust_approx: #9c9c9c;
$black_10: rgba(0, 0, 0, .1);
$color_gravel_59_approx: rgba(71, 71, 71, .59);
//colors
$navy-blue: #00264c;
$light_bluish-grey: #DCDFE3;
$bluish-grey: #818e99;
$charcoal-grey: #444b52;
$color_ebb_approx: #e8e4e4;
$color_black_squeeze_approx: #f3f7f9;
$color_steel_blue_approx: #337ab7;

$color_shark_approx: #262626;
$color_mountain_mist_approx: #999;
$color_boston_blue_approx: #428bca;

$color_silver_chalice_approx: #a9a9ab;

$color_orient_approx: #005480;

$color_tree_poppy_approx: #ff9f1a;

$color_rangoon_green_approx: #181818;
$color_dove_gray_approx: #676a6b;

$color_alabaster_approx: #f9f9f9;
