<div class="flex flex-column justify-content-start align-items-stretch">
  <ng-container *ngIf="selectedNode; else welcomeNote">
    <div
      class="title-section flex-row flex align-items-center justify-content-center"
    >
      <h3>"{{ selectedNode.label }}"</h3>
    </div>
    <div class="border-1 border-dashed" pDroppable="file" (onDrop)="drop()">
      <p-table
        #dt
        [(selection)]="selectedFiles"
        [globalFilterFields]="['fileName']"
        [paginator]="true"
        [rowHover]="true"
        [rows]="10"
        [scrollHeight]="constants.tableScrollHeight"
        [showCurrentPageReport]="true"
        [value]="files"
        dataKey="fileId"
        responsiveLayout="scroll"
        styleClass="p-datatable-striped"
      >
        <ng-template pTemplate="caption">
          <div
            class="flex align-items-center justify-content-between flex-wrap"
          >
            <span class="p-input-icon-left w-full">
              <i class="pi pi-search"></i>
              <input
                (input)="globalFilter($event)"
                [placeholder]="
                  messages.selectedNode.columns.placeholders.globalSearch
                "
                pInputText
                type="text"
                class="w-full"
              />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th class="w-3rem" id="select-all-checkbox">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th id="linked-file-name">{{this.messages.selectedNode.columns.name}}</th>
            <th id="linked-file-action" class="w-3rem">
              <button
                type="button"
                pButton
                pRipple
                icon="pi pi-times"
                label="Unlink"
                class="p-button-outlined p-button-danger"
                [disabled]="selectedFiles.length === 0"
                (click)="unlinkSelectedFiles()"
              ></button>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-file>
          <tr>
            <td class="w-3rem">
              <p-tableCheckbox [value]="file"></p-tableCheckbox>
            </td>
            <td>{{ file.fileName }}</td>
            <td class="w-3rem">
              <button
                type="button"
                pButton
                pRipple
                class="p-button-danger"
                icon="pi pi-times"
                label="Unlink"
                (click)="unlinkFile(file)"
              ></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td [attr.colspan]="3">
              <p class="text-center">{{ messages.selectedNode.noFiles }}</p>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </ng-container>
  <ng-template #welcomeNote>
    <div
      class="title-section flex-row flex align-items-center justify-content-center"
    >
      <h3>{{messages.selectedNode.title}}</h3>
    </div>
    <div class="m-2">
      <p>
        {{messages.selectedNode.description}}
      </p>
      <ul>
        <li>{{messages.selectedNode.pointOne}}</li>
        <li>
         {{messages.selectedNode.pointTwo}}
        </li>
      </ul>
    </div>
  </ng-template>
</div>
