<style type="text/css">
  .disabled-link {
    color: #cc8e8e;
    font-size: 14px;
    font-weight: 600;
  }

  #company-name {
    margin-top: 20px;
    padding-left: 20px;
  }
</style>

<div class="persona-header row">
  <div class="col-md-4">
  </div>
  <div class="col-md-4 text-center">
    <ul id="permssion-tabs" class="ssni-topic-tabs">
      <li role="presentation"
          [class.active]="selected == 'role'">
        <a (click)="selectRole()">Tags Management</a>
      </li>
    </ul>
  </div>
</div>

<persona-mgmt></persona-mgmt>
