<style type="text/css">
  .persona-header {
    margin-bottom: 20px;
  }
  .permission-table {
    width: 100%;
  }
  .permission-table>tbody>tr>td:first-child {
    width: 26%;
  }
  .permission-table>tbody>tr>td:last-child,
  .permission-table>tbody>tr>td:nth-child(2) {
    width: 37%;
  }
  .ng2-smart-sort-link
  {
    color: #000000!important;
  }
  .ng2-smart-pagination .page-link-prev,
  .ng2-smart-pagination .page-link-next
  {
    font-size: 14px!important;
  } 
  #new-persona {
    text-align: center;
    padding-top: 7px;
    padding-bottom: 8px;
  }
  #personas td:hover {
    background-color: #f3f3f3;
  }
  #personas .selected-persona td:hover {
    background-color: #dddddd !important;
  }
  .selected-persona {
    background-color: #dddddd !important;
  }
  tr.area-of-interest:nth-of-type(odd) {
    background-color: #ecf5ec !important;
  }
  tr.area-of-interest:nth-of-type(even) {
    background-color: #f6fff6 !important;
  }
</style>

<table class="permission-table table table-bordered" [ngBusy]="{busy: busy, delay: 100}">
  <tr>
    <td>
      <div id="new-persona">
        <h5 class="text-center">{{ selectedTagName }}</h5>
        <button class="btn btn-sm btn-primary btn-custom" [popover]="personaPopTemplate" #personaPopup="bs-popover"
          placement="right" container="body">Create New Tag</button>
      </div>

      <template #personaPopTemplate>
        <div>
          <div class="form-group">
            Add a new tag
          </div>
          <div class="form-group">
            <input class="form-control" placeholder="tag name" (keyup)="checkTagName()" [(ngModel)]="newTagName"
              #nameControl="ngModel" #newPersona>
          </div>
          <div class="form-group">
            <button class="btn btn-sm btn-danger" [disabled]="!hasTagName" (click)="addTag()">Create</button>
            <button class="btn btn-sm btn-default pull-right" (click)="cancelAddTag()">Cancel</button>
          </div>
        </div>
      </template>
      <div id="personas">
        <ng2-smart-table id="users-table" [settings]="settings" allowFiltering='true' allowPaging='true'
          [source]="tags" (deleteConfirm)="onDeleteConfirm($event)" (editConfirm)="onEditConfirm($event)"
          (userRowSelect)="onTagsSelect($event)">
        </ng2-smart-table>
      </div>
    </td>
    <td>
      <persona-tags id="persona-tags" [tagedDocs]="tagedDocs" [selectedTagId]="selectedTagId"></persona-tags>
    </td>
    <td>
      <tags [selectedTagName]="selectedTagName" [tagedDocs]="tagedDocs" [selectedTagId]="selectedTagId"></tags>
    </td>
  </tr>
</table>