/* You can add global styles to this file, and also import other style files */
@import "~primeicons/primeicons.css";
@import "~primeng/resources/themes/nova/theme.css";
@import "~primeng/resources/primeng.min.css";
@import "primeflex/primeflex.min.css";

.float-left {
    float: left;
}
.border-solid {
    border-color: #ccc;
}
.full-width {
    width: 100%;
}
.actions
{
    cursor: pointer;
}
.loading
{
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    padding: 25%;
    text-align: center;
    background-color: rgba(51, 51, 51, 0.8);
    z-index: 99999;
    color: #ffffff;
    font-size: 22px;
}